<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set">
  <sitecore>
    <pipelines>
      <search>
        <processor type="Sitecore.Support.Pipelines.Search.IDResolver, Sitecore.Support.94803" patch:i="*[@type='Sitecore.Pipelines.Search.IDResolver, Sitecore.Kernel']" />
      </search>
    </pipelines>
  </sitecore>
</configuration>